@import 'tailwindcss';

@theme {
  /* System Colors */
  --color-system-base: #0e5bf9;
  --color-system-danger: #f53933;
  --color-system-warning: #f9d60e;
  --color-system-success: #008a1e;
  --color-system-success2: #4dd36a;
  --color-System-caution: #f9d60e;
  --color-System-warning: #fff1a2;
  --color-System-secondary: #cfefff;

  /* Primary Colors */
  --color-primary-0: #ffffff;
  --color-primary-5: #f2f6ff;
  --color-primary-10: #e4edff;
  --color-primary-20: #c7d9ff;
  --color-primary-30: #719ffb;
  --color-primary-40: #3f7dfa;
  --color-primary-50: #0e5bf9; /* 시스템 색상 */
  --color-primary-60: #0e5bf9;
  --color-primary-70: #09389a;
  --color-primary-80: #05215b;
  --color-primary-90: #020f29;
  --color-primary-100: #000000;

  /* Gray Scale Colors */
  --color-gray-scale-0: #ffffff;
  --color-gray-scale-5: #f7f8fa; /* background 색상 */
  --color-gray-scale-10: #f0f2f5;
  --color-gray-scale-20: #e8ebee;
  --color-gray-scale-30: #dfe3e7;
  --color-gray-scale-40: #bdc4cf; /* text - disabled */
  --color-gray-scale-50: #8e95a1; /* text - detail */
  --color-gray-scale-60: #59616f;
  --color-gray-scale-70: #414750; /* text - body */
  --color-gray-scale-80: #292d32; /* text - title */
  --color-gray-scale-90: #131518;
  --color-gray-scale-100: #000000;

  /* System red Colors */
  --color-red-scale-10: #ffe5e5;
  --color-red-scale-20: #ff9f9f;
  --color-red-scale-30: #ea7373;
  --color-red-scale-40: #f53933;

  /* Figma 가이드 기준 브레이크포인트 설정 */
  --breakpoint-sm: 390px;
  --breakpoint-md: 768px; /* Tablet */
  --breakpoint-xl: 1440px; /* Desktop */
  --breakpoint-2xl: 1920px; /* Large Desktop */

  /* shadow */
  --shadow-main: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  --shadow-drop-down: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  --shadow-modal: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  --shadow-PDF: -5px 0 15px 0 rgba(0, 0, 0, 0.1);
  --shadow-select: 0 0 10px 0 rgba(91, 143, 255, 0.25);
}

/* 🎨 디자인 시스템: 타이포그래피 (Figma Text Styles) */
@layer utilities {
  /* Title */
  .text-title-h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02em;
  }
  .text-title-h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02em;
  }
  .text-title-h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02em;
  }
  .text-title-h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
  }

  /* Body */
  .text-body-xl-m {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
  }
  .text-body-xl-r {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.03em;
  }
  .text-body-l-sb {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
  .text-body-l-m {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
  .text-body-l-r {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
  .text-body-m-m {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
  }
  .text-body-m-r {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.03em;
  }
  .text-body-s-m {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01em;
  }
  .text-body-s-r {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01em;
  }

  /* Button */
  .text-button-l-sb {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02em;
  }
}
